.activity-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}


.task-container{
    margin-top: 80px;
    margin-left: 60px;
}

.header{
    text-align: start;
    
    color: coral;
}
.task-header{
    text-align: start;
    font-size: 20px;
    font-weight: bold;
}
.tasks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.details-container{
    margin-left: 120px;
    background-color: white;
}

@media screen and (max-width: 576px) {
    .activity-container{
        display: block;
    }
    .tasks{
        display: block;
        margin-bottom: 20px;
    }
    .task-container{
        margin:  0px 10px;
    }
    .details-container{
        margin: 0px 10px;
    }
}